
.line{
    height: 1px;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    background-color: #ffff;
}
/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
and float them to left and set its border and border-radius.
*/
.wrapper ul li {
width: 35px;
height: 35px;
line-height: 35px;
margin: 10px;
text-align: center;
cursor: pointer;
border-radius: 50%;
border: 2px solid #D8E2DC;
float: left;
transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
color: #D8E2DC;
margin-top: 20px;
transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.github {
border: 2px solid #3b5998;
box-shadow: 0 0 15px #3b5998;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github{
color: #3b5998;
text-shadow: 0 0 15px #3b5998;
transition: all 0.5s ease;
}

/*linkedin*/
.wrapper ul li:hover.linkedin {
border: 2px solid #00aced;
box-shadow: 0 0 15px #00aced;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
color: #00aced;
text-shadow: 0 0 15px #00aced;
transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
border: 2px solid #bc2a8d;
box-shadow: 0 0 15px #bc2a8d;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
color: #bc2a8d;
text-shadow: 0 0 15px #bc2a8d;
transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
border: 2px solid #dd4b39;
box-shadow: 0 0 15px #dd4b39;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
color: #dd4b39;
text-shadow: 0 0 15px #dd4b39;
transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
border: 2px solid #4dc247;
box-shadow: 0 0 15px #4dc247;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
color: #4dc247;
text-shadow: 0 0 15px #4dc247;
transition: all 0.5s ease;
}

@media (max-width: 780px) {
  
        
          .line{
            height: 1px;
            width: 100%;
            margin: auto;
            margin-top: 30px;
            background-color: #ffff;
        }
  }
